/*
Copyright (c) 2014 Rob Young

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the 'Software'), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

The Software shall be used for Good, not Evil.

THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

Created on Jan 22, 2014

@author: roby
*/

.previewrow {
  float: left;
  clear: left;
}

.preview {
  width:200px;
  height:200px;
}

.preview img {
  border: 8px solid #ddd;
  border-radius: 8px;
  max-width:200px;
  max-height:200px;
  object-fit: contain;
  -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}

.preview img:hover {
  border: 8px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.buttons {
  clear: left;
}

.modal-view {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  display: block;
  border-radius: 8px;
  transition: 0.3s;
  margin: auto;
  max-width: 90%;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.view-control {
  position: absolute;
  top: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#open {
  right: 105px;
}

#select {
  right: 70px;
}

#close {
  right: 35px;
}

#open:hover,
#open:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#select:hover,
#select:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.selectone {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.selectone:hover,
.selectone:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

@media only screen and (max-width: 1024px){
  .modal-content {
    max-width: 100%;
    max-height: 100%;
  }
}

button {
  margin: 8px;
}